body {
    background-color: lightgray;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    background-color: white;
}

.header div {
    display: block;
    max-width: 100%;
    height: auto;
    background-color: gray;
    text-align: center;
    padding: 70px 0;
    color: lightgray;
    font-weight: bold;
    font-size: 20px;
}

.text {
    padding: 10px;
}

.footer {
    bottom: 0;
    background-color: lightgray;
    padding: 10px;
    font-size: 12px;
    color: gray;
    border: 1px solid black;
}

.section {
    padding-bottom: 40px;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    .section {
        flex: 1;
    }
}