<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>devmentor.pl - Python: Podstawowy frontend - #01</title>
</head>

<body>
    <header>
        <a href="/">
            <img src="./logo.png" alt="Opis obrazka">
        </a>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#oferta">Oferta</a></li>
                <li><a href="#contact">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <div>
                <h1>Tytuł artykułu</h1>
            </div>
            <p>
                Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść
                Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść
                Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść
            </p>
            <div>
                <time datetime="2025-04-29">April 29, 2025</time>
            </div>
            <span>Author Name</span>
            <div>
                <a href="/">
                    <img src="./ilustracja.png" alt="Opis ilustracji">
                </a>
            </div>
            <table>
                <caption>Dane dotyczące artykułu</caption>
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Opis zmian</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2025</td>
                        <td>Jakub</td>
                        <td>Nowe dane</td>
                    </tr>
                </tbody>
            </table>
            <form>
                <label for="comment">Dodaj komentarz</label>
                <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
                <button type="submit">Submit Comment</button>
            </form>
            <div>
                <h2>Komentarz 1</h2>
                <p>
                    Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść
                    komentarza
                    Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść
                    komentarza
                </p>
                <span>Autor komentarza 1</span>
                <time datetime="2025-04-29">April 29, 2025</time>
            </div>
            <div>
                <h2>Komentarz 2</h2>
                <p>
                    Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść
                    komentarza
                    Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść
                    komentarza
                </p>
                <span>Autor komentarza 2</span>
                <time datetime="2025-04-30">April 30, 2025</time>
            </div>
            <div>
                <h2>Komentarz 3</h2>
                <p>
                    Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść
                    komentarza
                    Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść komentarza Treść
                    komentarza
                </p>
                <span>Autor komentarza 3</span>
                <time datetime="2025-04-27">April 27, 2025</time>
            </div>
        </article>
    </main>
    <footer>
        <div>Prawa autorskie</div>
    </footer>
</body>

</html>